/* phones.component.css */

/* General Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  margin: -15px;
}

.col-md-4 {
  padding: 15px;
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
  margin-bottom: 15px;
}

.btn {
  cursor: pointer;
}

/* Primary Button */
.btn-primary {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #fff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #45a049;
  border-color: #45a049;
}

/* Outline Button */
.btn-outline-primary {
  color: #4CAF50;
  border-color: #4CAF50;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.btn-outline-primary:hover {
  color: #45a049;
  border-color: #45a049;
}

/* Additional Styles for Cards */
.card:nth-child(even) {
  background-color: #f8f9fa;
}

.card:nth-child(odd) {
  background-color: #ffffff;
}

.card:nth-child(even):hover,
.card:nth-child(odd):hover {
  background-color: #f0f0f0;
}

/* Media Queries */
@media (max-width: 768px) {
  .card {
    margin-bottom: 20px;
  }
}
