<!-- phones.component.html -->

<div class="container">
  <h2>Phones</h2>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let phone of phones">
      <div class="card h-100 shadow-sm">
        <img [src]="phone.imageUrl" class="card-img-top" alt="Phone Image">
        <div class="card-body">
          <h5 class="card-title">{{ phone.title }}</h5>
          <p class="card-text">{{ phone.description }}</p>
          <p class="card-text">Price: {{ phone.price | currency }}</p>
          <button class="btn btn-primary" (click)="addToCart(phone)">Add to Cart</button> 
          <button class="btn btn-outline-primary ms-2" (click)="addToWishlist(phone)">Add to Wishlist</button>
        </div>
      </div>
    </div>
  </div>
</div>
