<div class="container">
    <h2 align="center">Registered Users</h2>
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>User ID</th>
          <th>User Name</th>
          <th>Email ID</th>
          <th>Phone Number</th>
          <th>Country</th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.emailId }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.country }}</td>
          <!-- Add more columns as needed -->
        </tr>
        <tr *ngIf="users.length === 0">
          <td colspan="5" align="center">No users found.</td>
        </tr>
      </tbody>
    </table>
  </div>
  