<div class="product-grid">
  <div class="card" *ngFor="let product of products">
    <img [src]="product.imageUrl" alt="{{ product.title }}" class="card-img">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <button (click)="exploreCategory(product.category)" class="btn btn-primary">Explore {{ product.category }}</button> &nbsp;
      <button (click)="addToCart(product)" class="btn btn-success">Add to Cart</button>
    </div>
  </div>
</div>
