<!-- wishlist.component.html -->

<div class="wishlist">
  <div *ngIf="wishlistItems.length > 0; else emptyWishlist">
    <div *ngFor="let item of wishlistItems" class="wishlist-item">
      <div class="item-details">
        <div class="item-image">
          <img [src]="item.imageUrl" alt="{{ item.name }}">
        </div>
        <div class="item-info">
          <h3>{{ item.name }}</h3>
          <p>Price: {{ item.price | currency }}</p>
          <button class="add-to-cart" (click)="addToCart(item)">Add to Cart</button>
          <button class="remove-from-wishlist" (click)="removeFromWishlist(item)">Remove</button>
        </div>
      </div>
    </div>
    <div class="total-price">Total Price: {{ totalPrice | currency }}</div>
  </div>
  <ng-template #emptyWishlist>
    <p>Your wishlist is empty.</p>
  </ng-template>
</div>
