/* wishlist.component.css */

.wishlist {
  padding: 20px;
}

.wishlist-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.item-details {
  display: flex;
}

.item-image {
  width: 100px;
  margin-right: 20px;
}

.item-image img {
  width: 100%;
  height: auto;
}

.item-info {
  flex: 1;
}

.item-info h3 {
  font-size: 1.2rem;
  margin: 0 0 10px;
}

.add-to-cart,
.remove-from-wishlist {
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.remove-from-wishlist {
  background-color: #dc3545;
}

.total-price {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
