/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  /* Container */
  .forgot-password-container {
    background: #fff;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  .forgot-password-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    background: -webkit-linear-gradient(left, #ff512f, #f09819);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Form */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form div {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    text-align: left;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  input[type="email"]:focus {
    border-color: #ff512f;
    box-shadow: 0 0 5px rgba(255, 81, 47, 0.5);
    outline: none;
  }
  
  input.ng-invalid.ng-touched {
    border-color: #e74c3c;
  }
  
  div *ngIf {
    text-align: left;
    color: #e74c3c;
    font-size: 14px;
    position: absolute;
    top: 60px;
  }
  
  /* Button */
  button[type="submit"] {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(45deg, #ff512f, #f09819);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
  }
  
  button[type="submit"]:hover {
    background: linear-gradient(45deg, #f09819, #ff512f);
    transform: scale(1.05);
  }
  
  button[disabled] {
    background: #cccccc;
    cursor: not-allowed;
  }
  
  /* Message */
  .message {
    margin-top: 15px;
    font-size: 16px;
    color: #28a745;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .forgot-password-container {
      padding: 20px;
      max-width: 90%;
    }
  
    form div {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .forgot-password-container {
      padding: 15px;
    }
  
    .forgot-password-container h2 {
      font-size: 24px;
    }
  
    label {
      font-size: 14px;
    }
  
    input[type="email"] {
      padding: 10px;
      font-size: 14px;
    }
  
    button[type="submit"] {
      padding: 10px 16px;
      font-size: 14px;
    }
  
    .message {
      font-size: 14px;
    }
  }
  