<div class="forgot-password-container">
  <h2>Forgot Password</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" required>
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">Invalid email format.</div>
      </div>
    </div>
    <button type="submit" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
  </form>
  <div *ngIf="message">{{ message }}</div>
</div>
