<!-- cart.component.html -->

<div class="cart">
  <h2>Your Cart</h2>
  <div class="cart-items">
    <div class="cart-item" *ngFor="let item of cartItems">
      <div class="item-details">
        <img [src]="item.imageUrl" alt="Product Image" class="item-image">
        <div class="item-info">
          <div class="item-title">{{ item.title }}</div>
          <div class="item-description">{{ item.description }}</div>
          <div class="item-price">Price: {{ item.price | currency }}</div>
        </div>
      </div>
      <div class="item-actions">
        <button class="btn btn-remove" (click)="removeFromCart(item)">Remove</button>
        <button class="btn btn-wishlist" (click)="moveToWishlist(item)">Move to Wishlist</button>
        <div class="quantity-controls">
          <button class="btn btn-decrease" *ngIf="item.quantity > 1" (click)="decreaseQuantity(item)">-</button>
          <div class="item-quantity">Quantity: {{ item.quantity }}</div>
          <button class="btn btn-increase" (click)="increaseQuantity(item)">+</button>
        </div>
      </div>
    </div>
  </div>
  <div class="total-section">
    <div class="total-label">Total Price:</div>
    <div class="total-price">{{ getTotalPrice() | currency }}</div>
  </div>
</div>
