/* cart.component.css */

.cart {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.cart-items {
  display: grid;
  gap: 20px;
}

.cart-item {
  display: flex;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

.item-details {
  display: flex;
  align-items: center;
  flex: 1;
}

.item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 4px;
}

.item-info {
  flex: 1;
}

.item-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.item-price {
  font-size: 16px;
  font-weight: bold;
}

.item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.btn {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn-remove {
  background-color: #dc3545;
  color: #fff;
}

.btn-wishlist {
  background-color: #007bff;
  color: #fff;
  margin-top: 5px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.btn-decrease,
.btn-increase {
  background-color: #28a745;
  color: #fff;
  padding: 5px;
  margin: 0 5px;
}

.item-quantity {
  font-size: 16px;
}

.total-section {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total-label {
  font-size: 18px;
  margin-right: 10px;
}

.total-price {
  font-size: 24px;
  font-weight: bold;
  color: #28a745;
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
  }
  
  .item-details {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .item-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .item-actions {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
}
