.host-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  .host-container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .navigate-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navigate-button:hover {
    background-color: #0056b3;
  }
  