<div class="container">
    <h1>Contact Us</h1>
    <p>Got any questions or feedback? Reach out to us!</p>
    
    <form #contactForm="ngForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" ngModel required>
      </div>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel required>
      </div>
      
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="5" ngModel required></textarea>
      </div>
      
      <button type="submit">Submit</button>
    </form>
  </div>
