<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->
<app-header></app-header>

<!-- <app-aboutus></app-aboutus> -->
 <router-outlet></router-outlet>
  
 <!-- app.component.html -->


    <app-footer></app-footer>
  
  