<section id="tvs" class="products">
    <div class="container">
        <h2>Featured TVs</h2>
        <div class="product-list">
            <div class="product" *ngFor="let tv of tvs">
                <div class="product-inner">
                    <div class="product-front">
                        <img [src]="tv.image" alt="TV">
                        <h3>{{ tv.name }}</h3>
                    </div>
                    <div class="product-back">
                        <h3>{{ tv.name }}</h3>
                        <p>{{ tv.description }}</p>
                        <nav>
                            <a routerLink="/details">View Details</a>
                          </nav>
                                              </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="phones" class="products">
    <div class="container">
        <h2>Featured Phones</h2>
        <div class="product-list">
            <div class="product" *ngFor="let phone of phones">
                <div class="product-inner">
                    <div class="product-front">
                        <img [src]="phone.image" alt="Phone">
                        <h3>{{ phone.name }}</h3>
                    </div>
                    <div class="product-back">
                        <h3>{{ phone.name }}</h3>
                        <p>{{ phone.description }}</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="laptops" class="products">
    <div class="container">
        <h2>Featured Laptops</h2>
        <div class="product-list">
            <div class="product" *ngFor="let laptop of laptops">
                <div class="product-inner">
                    <div class="product-front">
                        <img [src]="laptop.image" alt="Laptop">
                        <h3>{{ laptop.name }}</h3>
                    </div>
                    <div class="product-back">
                        <h3>{{ laptop.name }}</h3>
                        <p>{{ laptop.description }}</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
