.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.products {
    background-color: #fff;
    padding: 40px 0;
}

.products h2 {
    text-align: center;
    margin-bottom: 30px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 300px;
    height: 300px;
    margin: 20px;
    perspective: 1000px;
}

.product-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-front, .product-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.product-front {
    background-color: #f9f9f9;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.product-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
}

.product img {
    width: 80%;
    height: auto;
}

.product h3 {
    margin-top: 10px;
}

.product p {
    font-size: 14px;
    color: #ddd;
    line-height: 1.5;
}

.product a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.product a:hover {
    background-color: #555;
}

.product:hover .product-inner {
    transform: rotateY(180deg);
}
