<!-- home.component.html -->

<div class="home">
  <div class="category-card phones">
    <img src="https://via.placeholder.com/300x180" alt="Phones">
    <div class="category-details">
      <h2>Phones</h2>
      <p>Explore our latest phones with advanced features.</p>
      <button class="explore-button" routerLink="/categories/phones">Explore</button>
    </div>
  </div>

  <div class="category-card tvs">
    <img src="https://via.placeholder.com/300x180" alt="TVs">
    <div class="category-details">
      <h2>TVs</h2>
      <p>Discover high-definition TVs for immersive entertainment.</p>
      <button class="explore-button" routerLink="/categories/tvs">Explore</button>
    </div>
  </div>

  <div class="category-card laptops">
    <img src="https://via.placeholder.com/300x180" alt="Laptops">
    <div class="category-details">
      <h2>Laptops</h2>
      <p>Find powerful laptops for work and play.</p>
      <button class="explore-button" routerLink="/categories/laptops">Explore</button>
    </div>
  </div>
</div>
