/* home.component.css */

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.category-card {
  width: 300px;
  height: 350px; /* Adjust height as needed */
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.category-details {
  padding: 20px;
  background-color: #fff;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.category-details p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 15px;
}

.explore-button {
  padding: 10px 20px;
  background-color: #fb641b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: #f35f0a;
}
