/* Styling for About Us Section */
.outer1 {
  background-color: #f0f0f0;
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.about-description {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.about-content {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 40px;
}

.about-highlights {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.highlight-item {
  text-align: center;
  flex: 1 1 300px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.highlight-item:hover {
  transform: translateY(-5px);
}

.highlight-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.highlight-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.highlight-description {
  font-size: 16px;
  color: #666;
}

/* Color Customization */
.outer1 {
  background-color: #f0f0f0;
}

.highlight-item {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.highlight-title {
  color: #1e88e5; /* Blue */
}

.highlight-description {
  color: #555;
}