<div class="container">
    <h2 align="center">Get User by Email</h2>
    <div class="form-group">
      <label for="email">Enter Email:</label>
      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Enter email">
    </div>
    <button class="btn btn-primary" (click)="getUserByEmail()">Get User</button>
  </div>
  <div *ngIf="user">
    <h3>User Details:</h3>
    <p><strong>User ID:</strong> {{ user.id }}</p>
    <p><strong>User Name:</strong> {{ user.userName }}</p>
    <p><strong>Email ID:</strong> {{ user.emailId }}</p>
    <p><strong>Phone Number:</strong> {{ user.phoneNumber }}</p>
    <p><strong>Country:</strong> {{ user.country }}</p>
  </div>
  <div *ngIf="errorMessage" class="text-danger">
    {{ errorMessage }}
  </div>
  