<!-- tvs.component.html -->

<div class="container">
    <h2>TVs</h2>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let tv of tvs">
        <div class="card h-100 shadow-sm">
          <img [src]="tv.imageUrl" class="card-img-top" alt="TV Image">
          <div class="card-body">
            <h5 class="card-title">{{ tv.title }}</h5>
            <p class="card-text">{{ tv.description }}</p>
            <p class="card-text">Price: {{ tv.price | currency }}</p>
            <button class="btn btn-primary" (click)="addToCart(tv)">Add to Cart</button> 
            <button class="btn btn-outline-primary ms-2" (click)="addToWishlist(tv)">Add to Wishlist</button>
          </div>
        </div>
      </div>
    </div>
  </div>