<div>
    <h2>Reset Password</h2>
    <form (ngSubmit)="resetPassword()">
      <div>
        <label for="otp">OTP:</label>
        <input type="text" id="otp" [(ngModel)]="otp" name="otp" required>
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      </div>
      <button type="submit">Reset Password</button>
    </form>
  </div>
  