/* Center the form container and add top margin */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* Space from the top */
}

/* Style the form */
form {
  display: block;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px; /* Add space between rows */
}

/* Align table cells properly */
td {
  padding: 0;
  vertical-align: middle;
}

/* Style for labels */
td:first-child {
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
  color: #333;
  width: 30%;
}

/* Style the inputs and select box */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
  width: calc(80% - 20px); /* Adjust width to account for padding and margin */
  padding: 8px;
  margin-left: 10px;
  margin-bottom: 10px; /* Add space between input boxes */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

/* Style the button */
button.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button.btn-primary:hover {
  background-color: #0056b3;
}

/* Style the heading */
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Style the link */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style for error messages */
.text-danger {
  color: #dc3545;
  font-size: 14px;
  margin: 5px 0 0 0;
}

/* Additional styles for better spacing */
.form-actions {
  display: flex;
  justify-content:center; /* Align actions to the right */
  align-items: center;
  margin-top: 10px;
}

/* Flexbox styles for table rows */
tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Flexbox styles for table cells */
td {
  flex: 1;
}

td:first-child {
  flex: 0 0 30%; /* Label takes 30% of the row width */
  text-align: right;
  padding-right: 10px;
}

td:last-child {
  flex: 1; /* Input field takes remaining width */
}

/* Style for captcha section */
app-captcha {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}