<div class="login-container">
    <div class="login-form">
      <h2>Admin Login</h2>
      <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)">
        <div class="form-group">
          <label for="emailId">Email</label>
          <input type="email" id="emailId" name="emailId" ngModel required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel required>
        </div>
        <button type="submit" class="btn">Login</button>
      </form>
    </div>
  </div>
  