.admin-dashboard {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-dashboard h2 {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 30px;
}

.section h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul li:hover {
    background-color: #f9f9f9;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {
    .admin-dashboard {
        width: 100%;
        box-shadow: none;
        border: none;
        border-radius: 0;
        padding: 10px;
    }

    .admin-dashboard h2 {
        font-size: 24px;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}
