<div class="admin-dashboard">
    <h2>Admin Dashboard</h2>
    
    <div class="section">
        <h3>Users</h3>
        <ul>
            <!-- Display users here as before -->
        </ul>
    </div>
  
    <button (click)="navigateToShowAllUsers()">Show All Users</button>
    
   
    <!-- <button (click)="navigateToShowAllProducts()">Show All Products</button> -->
</div>
