<!-- laptops.component.html -->

<div class="container">
    <h2>Laptops</h2>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let laptop of laptops">
        <div class="card h-100 shadow-sm">
          <img [src]="laptop.imageUrl" class="card-img-top" alt="Laptop Image">
          <div class="card-body">
            <h5 class="card-title">{{ laptop.title }}</h5>
            <p class="card-text">{{ laptop.description }}</p>
            <p class="card-text">Price: {{ laptop.price | currency }}</p>
            <button class="btn btn-primary" (click)="addToCart(laptop)">Add to Cart</button> 
            <button class="btn btn-outline-primary ms-2" (click)="addToWishlist(laptop)">Add to Wishlist</button>
          </div>
        </div>
      </div>
    </div>
  </div>