<div class="main-navbar shadow-sm sticky-top">
    <div class="top-navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                    <a class="nav-link" [routerLink]="['/']">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7hihZUqjNajH_ghOJ7-A6J34iceFAxXfIMA&s" alt="Nexus Logo" style="max-height: 50px;" />
                    </a>
                </div>
                <div class="col-md-5 my-auto">
                    <form role="search">
                        <div class="input-group">
                            <input type="search" placeholder="Search your products, brands, and more" class="form-control" style="font-size: 1rem;" />
                            <button class="btn bg-white" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 my-auto">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a *ngIf="isLoggedIn" [routerLink]="['/cart']" class="nav-link">
                                <i class="fa fa-shopping-cart"></i> Cart
                            </a>
                        </li>
                        <li class="nav-item">
                            <a *ngIf="isLoggedIn" (click)="logout()" class="nav-link">
                                <i class="fa fa-heart"></i> Logout
                                <i class="fa fa-sign-out" style="margin-left: 5px;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a *ngIf="!isLoggedIn" [routerLink]="['/login']" class="nav-link">
                                <i class="fa fa-user"></i> Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a *ngIf="!isLoggedIn" [routerLink]="['/host']" class="nav-link">
                                <i class="fa fa-user"></i> Become host
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand d-block d-sm-block d-md-none d-lg-none" [routerLink]="['/']">
                𝗡ɇxᶹ𝚜
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" [routerLink]="['/categories']" id="navbarDropdownCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategories">
                        <li><a class="dropdown-item" [routerLink]="['/categories', 'phones']">Phones</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/categories', 'laptops']">Laptops</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/categories', 'tvs']">TVs</a></li>
                        </ul>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" *ngIf="isLoggedIn" [routerLink]="['/products']">Featured Products</a>
                        </li>
                        </ul>
                        </div>
                        </div>
                        </nav>
                        
                        </div>
